<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
		<!-- Basic Page Needs -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{% block title %} {% endblock title %}</title>
		
		<meta name="keywords" content="Organic, Fresh Food, Farm Store">
		<meta name="description" content="FreshMart - Organic, Fresh Food, Farm Store HTML Template">
		<meta name="author" content="tivatheme">
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/png">
		
		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display:300,400,700" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		
		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'libs/font-awesome/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'libs/font-material/css/material-design-iconic-font.min.css' %}">
		<link rel="stylesheet" href="{% static 'libs/nivo-slider/css/nivo-slider.css' %}">
		<link rel="stylesheet" href="{% static 'libs/nivo-slider/css/animate.css' %}">
		<link rel="stylesheet" href="{% static 'libs/nivo-slider/css/style.css' %}">
		<link rel="stylesheet" href="{% static 'libs/owl.carousel/assets/owl.carousel.min.css' %}">
		<link rel="stylesheet" href="{% static 'libs/slider-range/css/jslider.css' %}">
		
		<!-- Template CSS -->
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="{% static 'css/reponsive.css' %}">
	</head>
	
	<body class="home home-4">
		<div id="all">
			<!-- Header -->
			<header id="header">
				<div class="container">
					<div class="header-top">
						<div class="row align-items-center">
							<!-- Header Left -->
							<div class="col-lg-5 col-md-5 col-sm-12">
								<!-- Main Menu -->
								<div id="main-menu">
									<ul class="menu">
										<li class="dropdown">
											<a href="{% url 'home' %}" title="Homepage">Home</a>
											
										</li>
										
										<li class="dropdown">
											<a href="{% url 'product_grid' %}" title="All Product">All Products</a>
											<div class="dropdown-menu">
												<ul>
													<li class="has-image">
														<img src="{% static 'img/product/product-category-1.png' %}" alt="Product Category Image">
														<a href="{% url 'vegetable' %}" title="Vegetables">Vegetables</a>
													</li>
													<li class="has-image">
														<img src="{% static 'img/product/product-category-2.png' %}" alt="Product Category Image">
														<a href="{% url 'fruit' %}" title="Fruits">Fruits</a>
													</li>
													<li class="has-image">
														<img src="{% static 'img/product/product-category-3.png' %}" alt="Product Category Image">
														<a href="{% url 'bread' %}" title="Bread">Bread</a>
													</li>
													<li class="has-image">
														<img src="{% static 'img/product/product-category-4.png' %}" alt="Product Category Image">
														<a href="{% url 'juice' %}" title="Juices">Juices</a>
													</li>
													<li class="has-image">
														<img src="{% static 'img/product/product-category-5.png' %}" alt="Product Category Image">
														<a href="{% url 'tea' %}" title="Tea and coffee">Tea and coffee</a>
													</li>
												</ul>
											</div>
										</li>
										
										
										
										<li class="dropdown">
											<a href="{% url 'blog' %}">Blog</a>
											
										</li>
										
										<li>
											<a href="{% url 'about' %}">About Us</a>
										</li>
										
										<li>
											<a href="{% url 'contact' %}">Contact</a>
										</li>
									</ul>
								</div>
							</div>
							
							<!-- Header Center -->
							<div class="col-lg-2 col-md-2 col-sm-12 header-center justify-content-center">
								<!-- Logo -->		
								<div class="logo">
									<a href="{% url 'home' %}">
										<img class="img-responsive" src="{% static 'img/logo.png' %}" alt="Logo">
									</a>
								</div>
								
								<span id="toggle-mobile-menu"><i class="zmdi zmdi-menu"></i></span>
							</div>
							
							
							<!-- Header Right -->
							<div class="col-lg-5 col-md-5 col-sm-12 header-right d-flex justify-content-end align-items-center">
								<!-- Search -->							
								<div class="form-search">
									<form action="#" method="get">
										<input type="text" class="form-input" placeholder="Search">
										<button type="submit" class="fa fa-search"></button>
									</form>
								</div>
								
								<!-- Cart -->
								{% if request.user.is_authenticated %}
								<div class="block-cart dropdown">
									<div class="cart-title">
										<i class="fa fa-shopping-basket" aria-hidden="true"></i>
										<a href="{% url 'show_cart' %}" class="nav-link text-white"><span class="badge bg-danger">{{totalitem}}</span> Cart </a>
									</div>
									
									<div class="dropdown-content">
										<div class="cart-content">
											<table>
												<tbody>
													<tr>
														<td class="product-image">
															<a href="#">
																<img src="{% static 'img/product/7.jpg' %}" alt="Product">
															</a>
														</td>
														<td>
															<div class="product-name">
																<a href="#">Organic Strawberry Fruits</a>
															</div>
															<div>	
																2 x <span class="product-price">$28.98</span>
															</div>
														</td>
														<td class="action">
															<a class="remove" href="#">
																<i class="fa fa-trash-o" aria-hidden="true"></i>
															</a>
														</td>
													</tr>
													
													<tr>
														<td class="product-image">
															<a href="#">
																<img src="{% static 'img/product/6.jpg' %}" alt="Product">
															</a>
														</td>
														<td>
															<div class="product-name">
																<a href="#">Organic Strawberry</a>
															</div>
															<div>	
																1 x <span class="product-price">$35.00</span>
															</div>
														</td>
														<td class="action">
															<a class="remove" href="#">
																<i class="fa fa-trash-o" aria-hidden="true"></i>
															</a>
														</td>
													</tr>
													
													<tr class="total">
														<td>Total:</td>
														<td colspan="2">$92.96</td>
													</tr>
													
													<tr>
														<td colspan="3">
															<div class="cart-button">
																<a class="btn btn-primary" href="{% url 'show_cart' %}" title="View Cart">View Cart</a>
																<a class="btn btn-primary" href="{% url 'checkout' %}" title="Checkout">Checkout</a>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								
								<div ><p>{{request.user.username|capfirst}}</p> <br></div>
								<!-- My Account -->
								<div class="my-account dropdown toggle-icon">
									<div class="dropdown-toggle" data-toggle="dropdown">
										<i class="zmdi zmdi-menu"></i>
									</div>
									<div class="dropdown-menu">										
										<div class="item">
											<a href="{% url 'profile' %}" title="Log in to your customer account"><i class="fa fa-cog"></i>Profile</a>
										</div>
										<div class="item">
											<a href="{% url 'orders' %}" title="Log in to your customer account"><i class="fa fa-cog"></i>Orders</a>
										</div>
										<div class="item">
											<a href="{% url 'passwordchange' %}" title="Log in to your customer account"><i class="fa fa-cog"></i>Change Password</a>
										</div>
										
										<div class="item">
											<form method="post" action="{% url 'logout' %}">
												{% csrf_token %}
												<button type="submit" title="Log out of your customer account">
													<i class="fa fa-cog"></i> Logout
												</button>
											</form>
										</div>
							    {% else %}
										<div class="item">
											<a href="{% url 'login' %}" title="Log in to your customer account"><br><br><br><span class='btn btn-primary'>Login</span></a>
										</div><hr>
										<div class="item">
											<a href="{% url 'customerregistration' %}" title="Register Account"><br><br><br><i class="fa fa-user"></i><span class='btn btn-primary'>Register</span></a>
										</div>
								{% endif %}
										<!--<div class="item">
											<a href="#" title="My Wishlists"><i class="fa fa-heart"></i>My Wishlists</a>
										</div>-->
										<div class="item">
											<!-- Language -->
											<!--<div class="language switcher">
												<a href="#" title="Language English" class="active"><img src="{% static 'img/language-en.jpg' %}" alt="Language English"></a>
												<a href="#" title="Language French"><img src="{% static 'img/language-fr.jpg' %}" alt="Language French"></a>
												<a href="#" title="Language Deutsch"><img src="{% static 'img/language-de.jpg' %}" alt="Language Deutsch"></a>
											</div>-->
											
											<!-- Currency -->
											<!--<div class="currency switcher">
												<a href="#" title="USD" class="active">USD</a>
												<a href="#" title="EUR">EUR</a>
												<a href="#" title="GBP">GBP</a>
											</div>-->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</header>
<!--header end-->

{% block content %}

{% endblock content %}

<br><br><br>            

<!-- Footer -->
			<footer id="footer">
				<div class="footer">
					<div class="container">
						<div class="footer-wrap">
							<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-col">
									<div class="block text">
										<div class="block-content">
											<a href="home-4.html" class="logo-footer">
												<img src="{% static 'img/logo-3.png' %}" alt="Logo">
											</a>
											
											<p>Lorem ipsum dolor sit amet, consectetur adipisc ing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
											<p>Ut enim ad minim veniam, quis nostrud exercita tion ullamco laboris nisi ut aliquip.</p>
										</div>
									</div>
								</div>
								
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-col">
									<div class="block newsletter">
										<h2 class="block-title">Newsletter</h2>
										
										<div class="block-content">
											<p class="description">Sign up for newsletter to receive special offers and exclusive news about FreshMart products</p>
											<form action="#" method="#">
												<input type="text" placeholder="Enter Your Email">
												<button type="submit" class="btn btn-primary">Subscribe</button>
											</form>
										</div>
									</div>
								</div>
								
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-col">
									<div class="block text">
										<h2 class="block-title">Opening Hours</h2>
										
										<div class="block-content">
											<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
											<p>
												<strong>Monday To Friday</strong> : 8.00 AM - 8.00 PM<br>
												<strong>Satuday</strong> : 7.30 AM - 9.30 PM<br>
												<strong>Sunday</strong> : 7.00 AM - 10.00 PM
											</p>
										</div>
									</div>
								</div>
								
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-col">
									<div class="block text">
										<h2 class="block-title">Contact Us</h2>
										
										<div class="block-content">
											<div class="contact">
												<p><strong>Address</strong> : 123 Ashkona, Dhaka District, Dhaka Division, Bangladesh</p>
												<p><strong>Hotline</strong> : 0324324324 - 0324324324</p>
												<p><strong>Email</strong> : <a href="">support@domain.com</a></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>		
				</div>
				
				<!-- Copyright -->
				<div class="footer-copyright">
					<div class="container">
						<div class="row">
							<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
								<div class="copyright"><a target="_blank" href="">Copyright aiQuest</a></div>
							</div>
							
							<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 align-right">
								<div class="payment">
									<img src="{% static 'img/payment.png' %}" alt="Payment">
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>
			
			
			<!-- Go Up button -->
			<div class="go-up">
				<a href="#">
					<i class="fa fa-long-arrow-up"></i>
				</a>
			</div>
			
			<!-- Page Loader -->
			<div id="page-preloader">
				<div class="page-loading">
					<div class="dot"></div>
					<div class="dot"></div>
					<div class="dot"></div>
					<div class="dot"></div>
					<div class="dot"></div>
				</div>
			</div>
		</div>
		
		<!-- Vendor JS -->
		<script src="{% static 'libs/jquery/jquery.js' %}"></script>
		<script src="{% static 'libs/bootstrap/js/bootstrap.js' %}"></script>
		<script src="{% static 'libs/jquery.countdown/jquery.countdown.js' %}"></script>
		<script src="{% static 'libs/nivo-slider/js/jquery.nivo.slider.js' %}"></script>
		<script src="{% static 'libs/owl.carousel/owl.carousel.min.js' %}"></script>
		<script src="{% static 'libs/slider-range/js/tmpl.js' %}"></script>
		<script src="{% static 'libs/slider-range/js/jquery.dependClass-0.1.js' %}"></script>
		<script src="{% static 'libs/slider-range/js/draggable-0.1.js' %}"></script>
		<script src="{% static 'libs/slider-range/js/jquery.slider.js' %}"></script>
		<script src="{% static 'libs/elevatezoom/jquery.elevatezoom.js' %}"></script>
		
		<!-- Template CSS -->
		
		<script src="{% static 'js/main.js' %}"></script>
		<script src="{% static 'js/myscript.js' %}"></script>
		
	</body>
	


</html>					