{% extends 'common_code/base.html' %}
{% block title %} Checkout {% endblock title %}
{% load static %}
{% block content %}

<div class="container my-5">
 <div class="row">
 <h3>Welcome {{request.user}}</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'orders' %}" class="btn btn-primary">Orders</a></li>
   </ul>
  </div>
  
  <div class="col-sm-9 offset-sm-1">
    {% for op in order_placed %}
    
   <div class="row">
    
     <div class="col-sm-12">
      <div class="row shadow-sm mb-3">
       <div class="col-sm-2"><img src="{{op.product.product_1_image.url}}" alt="" srcset="" class="img-fluid" height="150" width="150"></div>
       <div class="col-sm-7">
        <p>Product: {{op.product.title}}</p>
        <p>Quantity: {{op.quantity}}</p>
        <p>Price: {{op.total_cost}}</p>
       </div>
       <div class="col-sm-3 fw-bold">
        <p>Order Status: {{op.status}}</p>
         {% if op.status == 'Accepted' %}
         <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
         </div>
         {% endif %}

         {% if op.status == 'Packed' %}
         <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
         </div>
         {% endif %}

         {% if op.status == 'On The Way' %}
         <div class="progress">
          <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
         </div>
         {% endif %}

         {% if op.status == 'Delivered' %}
         <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
         </div>
         {% endif %}
        </div>
       </div>
      </div>
     </div>
     {% endfor %}
    
   </div>
   
  </div>
  
 </div>
 
</div>


			
			
{% endblock content %}			