{% extends 'common_code/base.html' %}
{% block title %} Registration {% endblock title %}
{% load static %}
{% block content %}
			
			
			<!-- Main Content -->
			<div id="content" class="site-content">
				<!-- Breadcrumb -->
				<div id="breadcrumb">
					<div class="container">
						<h2 class="title">Customer Registration</h2>
						
						<ul class="breadcrumb">
							<li><a href="{% url 'home' %}" title="Home">Home</a></li>
							<li><span>Registration</span></li>
						</ul>
					</div>
				</div>
			
			
				<div class="container">
					<div class="login-page">
						<div class="login-form form">
							<div class="block-title">
								<h2 class="title"><span>Registration</span></h2>
							</div>
						
							<form action="#" method="post" enctype="multipart/form-data">
							{% if messages %}
							    {% for message in messages %}
								    <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5 {% endif %}">{{message}}</p>
								{% endfor %}
								{% endif %}	
								{% csrf_token %}
								{% for fm in form %}
								<div class="form-group mb-3">
									{{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.error|striptags}}</small>
								</div>	
								{% endfor %}
								<input type="submit" value="Submit" class="btn btn-primary">
								<br>
								<div class= "text-center text-primary fw-bold"><small>Existing User ? <a href="{% url 'login' %}" class="text-danger">Login Now</a> </small></div>
								{% if form.non_field_error %}
								 {% for error in form.non_field_errors %}
								  <p class="alert alert-danger my-3">{{error}}</p>
								 {% endfor %}
							    {% endif %}	   
							</form>
						</div>
					</div>
				</div>
			</div>
			
			
{% endblock content %}	