{% extends 'common_code/base.html' %}
{% block title %} Password Reset Done {% endblock title %}
{% load static %}
{% block content %}		
			
			<!-- Main Content -->
			<div id="content" class="site-content">
				<!-- Breadcrumb -->
				<div id="breadcrumb">
					<div class="container">
						<h2 class="title">Password Reset Done</h2>
						
						<ul class="breadcrumb">
							<li><a href="{% url 'home' %}" title="Home">Home</a></li>
							<li><span>Please Check Your Email</span></li>
						</ul>
					</div>
				</div>
			
			
				<div class="container">
					<div class="login-page">
						<div class="login-form form">
							<div class="block-title">
								<h2 class="title"><span>We have sent an email to reset your password</span></h2>
							</div>
						
							<h1>Please check your email</h1>
                            <p>You will find a password reset link</p>
						</div>
					</div>
				</div>
			</div>
			
			
{% endblock content %}	