{% extends 'common_code/base.html' %}
{% block title %} About Us {% endblock title %}
{% load static %}
{% block content %}
			<!-- Main Content -->
			<div id="content" class="site-content">
				<!-- Breadcrumb -->
				<div id="breadcrumb">
					<div class="container">
						<h2 class="title">About Us</h2>
						
						<ul class="breadcrumb">
							<li><a href="#" title="Home">Home</a></li>
							<li><span>About Us</span></li>
						</ul>
					</div>
				</div>
			
				<div class="container">
					<div class="about-us intro">
						<div class="container">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="intro-header">
										<h3>Welcome To FreshMart</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
									</div>
								</div>
								
								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
									<div class="intro-left">
										<div class="intro-item">
											<p><img src="{% static 'img/intro-icon-1.png' %}" alt="Intro Image"></p>
											<h4>Always Fresh</h4>
											<p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
										</div>
										
										<div class="intro-item">
											<p><img src="{% static 'img/intro-icon-3.png' %}" alt="Intro Image"></p>
											<h4>Super Healthy</h4>
											<p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
										</div>
									</div>
								</div>
								
								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
									<div class="effect">
										<a href="#">
											<img class="img-responsive" src="{% static 'img/intro-1.png' %}" alt="Intro Image">
										</a>
									</div>
								</div>
								
								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
									<div class="intro-right">
										<div class="intro-item">
											<p><img src="{% static 'img/intro-icon-2.png' %}" alt="Intro Image"></p>
											<h4>100% Natural</h4>
											<p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
										</div>
										
										<div class="intro-item">
											<p><img src="{% static 'img/intro-icon-4.png' %}" alt="Intro Image"></p>
											<h4>Premium Quality</h4>
											<p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
{% endblock content %}